body {
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: #000000;
}

#input {
    width: 25%;
}

#start, #status {
    font-size: 18px;
}

canvas {
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 260px;
    box-shadow: 5px 5px 5px #ffffff;
}